.contained {
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  position: relative;
  z-index: 1;
}
@media (min-width: 640px) {
  .contained {
    padding: 0;
    width: 504px;
  }
}
@media (min-width: 900px) {
  .contained {
    width: 720px;
  }
}
@media (min-width: 1024px) {
  .contained {
    width: 868px;
  }
}
@media (min-width: 1500px) {
  .contained {
    width: 1016px;
  }
}
.contained--gt-md {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 900px) {
  .contained--gt-md {
    width: 720px;
  }
}
@media (min-width: 1024px) {
  .contained--gt-md {
    width: 868px;
  }
}
@media (min-width: 1500px) {
  .contained--gt-md {
    width: 1016px;
  }
}
.grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.grid--1-cols > .grid__item {
  width: 100%;
}
.grid--2-cols > .grid__item {
  width: 50%;
}
.grid--3-cols > .grid__item {
  width: 33.33333%;
}
.grid--4-cols > .grid__item {
  width: 25%;
}
.grid--5-cols > .grid__item {
  width: 20%;
}
.grid--6-cols > .grid__item {
  width: 16.66667%;
}
.grid--7-cols > .grid__item {
  width: 14.28571%;
}
.grid--8-cols > .grid__item {
  width: 12.5%;
}
.grid--9-cols > .grid__item {
  width: 11.11111%;
}
.grid--10-cols > .grid__item {
  width: 10%;
}
.grid--11-cols > .grid__item {
  width: 9.09091%;
}
.grid--12-cols > .grid__item {
  width: 8.33333%;
}
.grid__item--1-cols {
  width: 8.33333%;
}
.grid__item--2-cols {
  width: 16.66667%;
}
.grid__item--3-cols {
  width: 25%;
}
.grid__item--4-cols {
  width: 33.33333%;
}
.grid__item--5-cols {
  width: 41.66667%;
}
.grid__item--6-cols {
  width: 50%;
}
.grid__item--7-cols {
  width: 58.33333%;
}
.grid__item--8-cols {
  width: 66.66667%;
}
.grid__item--9-cols {
  width: 75%;
}
.grid__item--10-cols {
  width: 83.33333%;
}
.grid__item--11-cols {
  width: 91.66667%;
}
.grid__item--12-cols {
  width: 100%;
}
@media (min-width: 360px) {
  .grid--1-cols--gt-xs > .grid__item {
    width: 100%;
  }
  .grid--2-cols--gt-xs > .grid__item {
    width: 50%;
  }
  .grid--3-cols--gt-xs > .grid__item {
    width: 33.33333%;
  }
  .grid--4-cols--gt-xs > .grid__item {
    width: 25%;
  }
  .grid--5-cols--gt-xs > .grid__item {
    width: 20%;
  }
  .grid--6-cols--gt-xs > .grid__item {
    width: 16.66667%;
  }
  .grid--7-cols--gt-xs > .grid__item {
    width: 14.28571%;
  }
  .grid--8-cols--gt-xs > .grid__item {
    width: 12.5%;
  }
  .grid--9-cols--gt-xs > .grid__item {
    width: 11.11111%;
  }
  .grid--10-cols--gt-xs > .grid__item {
    width: 10%;
  }
  .grid--11-cols--gt-xs > .grid__item {
    width: 9.09091%;
  }
  .grid--12-cols--gt-xs > .grid__item {
    width: 8.33333%;
  }
  .grid__item--1-cols--gt-xs {
    width: 8.33333%;
  }
  .grid__item--2-cols--gt-xs {
    width: 16.66667%;
  }
  .grid__item--3-cols--gt-xs {
    width: 25%;
  }
  .grid__item--4-cols--gt-xs {
    width: 33.33333%;
  }
  .grid__item--5-cols--gt-xs {
    width: 41.66667%;
  }
  .grid__item--6-cols--gt-xs {
    width: 50%;
  }
  .grid__item--7-cols--gt-xs {
    width: 58.33333%;
  }
  .grid__item--8-cols--gt-xs {
    width: 66.66667%;
  }
  .grid__item--9-cols--gt-xs {
    width: 75%;
  }
  .grid__item--10-cols--gt-xs {
    width: 83.33333%;
  }
  .grid__item--11-cols--gt-xs {
    width: 91.66667%;
  }
  .grid__item--12-cols--gt-xs {
    width: 100%;
  }
}
@media (min-width: 640px) {
  .grid--1-cols--gt-sm > .grid__item {
    width: 100%;
  }
  .grid--2-cols--gt-sm > .grid__item {
    width: 50%;
  }
  .grid--3-cols--gt-sm > .grid__item {
    width: 33.33333%;
  }
  .grid--4-cols--gt-sm > .grid__item {
    width: 25%;
  }
  .grid--5-cols--gt-sm > .grid__item {
    width: 20%;
  }
  .grid--6-cols--gt-sm > .grid__item {
    width: 16.66667%;
  }
  .grid--7-cols--gt-sm > .grid__item {
    width: 14.28571%;
  }
  .grid--8-cols--gt-sm > .grid__item {
    width: 12.5%;
  }
  .grid--9-cols--gt-sm > .grid__item {
    width: 11.11111%;
  }
  .grid--10-cols--gt-sm > .grid__item {
    width: 10%;
  }
  .grid--11-cols--gt-sm > .grid__item {
    width: 9.09091%;
  }
  .grid--12-cols--gt-sm > .grid__item {
    width: 8.33333%;
  }
  .grid__item--1-cols--gt-sm {
    width: 8.33333%;
  }
  .grid__item--2-cols--gt-sm {
    width: 16.66667%;
  }
  .grid__item--3-cols--gt-sm {
    width: 25%;
  }
  .grid__item--4-cols--gt-sm {
    width: 33.33333%;
  }
  .grid__item--5-cols--gt-sm {
    width: 41.66667%;
  }
  .grid__item--6-cols--gt-sm {
    width: 50%;
  }
  .grid__item--7-cols--gt-sm {
    width: 58.33333%;
  }
  .grid__item--8-cols--gt-sm {
    width: 66.66667%;
  }
  .grid__item--9-cols--gt-sm {
    width: 75%;
  }
  .grid__item--10-cols--gt-sm {
    width: 83.33333%;
  }
  .grid__item--11-cols--gt-sm {
    width: 91.66667%;
  }
  .grid__item--12-cols--gt-sm {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .grid--1-cols--gt-md > .grid__item {
    width: 100%;
  }
  .grid--2-cols--gt-md > .grid__item {
    width: 50%;
  }
  .grid--3-cols--gt-md > .grid__item {
    width: 33.33333%;
  }
  .grid--4-cols--gt-md > .grid__item {
    width: 25%;
  }
  .grid--5-cols--gt-md > .grid__item {
    width: 20%;
  }
  .grid--6-cols--gt-md > .grid__item {
    width: 16.66667%;
  }
  .grid--7-cols--gt-md > .grid__item {
    width: 14.28571%;
  }
  .grid--8-cols--gt-md > .grid__item {
    width: 12.5%;
  }
  .grid--9-cols--gt-md > .grid__item {
    width: 11.11111%;
  }
  .grid--10-cols--gt-md > .grid__item {
    width: 10%;
  }
  .grid--11-cols--gt-md > .grid__item {
    width: 9.09091%;
  }
  .grid--12-cols--gt-md > .grid__item {
    width: 8.33333%;
  }
  .grid__item--1-cols--gt-md {
    width: 8.33333%;
  }
  .grid__item--2-cols--gt-md {
    width: 16.66667%;
  }
  .grid__item--3-cols--gt-md {
    width: 25%;
  }
  .grid__item--4-cols--gt-md {
    width: 33.33333%;
  }
  .grid__item--5-cols--gt-md {
    width: 41.66667%;
  }
  .grid__item--6-cols--gt-md {
    width: 50%;
  }
  .grid__item--7-cols--gt-md {
    width: 58.33333%;
  }
  .grid__item--8-cols--gt-md {
    width: 66.66667%;
  }
  .grid__item--9-cols--gt-md {
    width: 75%;
  }
  .grid__item--10-cols--gt-md {
    width: 83.33333%;
  }
  .grid__item--11-cols--gt-md {
    width: 91.66667%;
  }
  .grid__item--12-cols--gt-md {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .grid--1-cols--gt-lg > .grid__item {
    width: 100%;
  }
  .grid--2-cols--gt-lg > .grid__item {
    width: 50%;
  }
  .grid--3-cols--gt-lg > .grid__item {
    width: 33.33333%;
  }
  .grid--4-cols--gt-lg > .grid__item {
    width: 25%;
  }
  .grid--5-cols--gt-lg > .grid__item {
    width: 20%;
  }
  .grid--6-cols--gt-lg > .grid__item {
    width: 16.66667%;
  }
  .grid--7-cols--gt-lg > .grid__item {
    width: 14.28571%;
  }
  .grid--8-cols--gt-lg > .grid__item {
    width: 12.5%;
  }
  .grid--9-cols--gt-lg > .grid__item {
    width: 11.11111%;
  }
  .grid--10-cols--gt-lg > .grid__item {
    width: 10%;
  }
  .grid--11-cols--gt-lg > .grid__item {
    width: 9.09091%;
  }
  .grid--12-cols--gt-lg > .grid__item {
    width: 8.33333%;
  }
  .grid__item--1-cols--gt-lg {
    width: 8.33333%;
  }
  .grid__item--2-cols--gt-lg {
    width: 16.66667%;
  }
  .grid__item--3-cols--gt-lg {
    width: 25%;
  }
  .grid__item--4-cols--gt-lg {
    width: 33.33333%;
  }
  .grid__item--5-cols--gt-lg {
    width: 41.66667%;
  }
  .grid__item--6-cols--gt-lg {
    width: 50%;
  }
  .grid__item--7-cols--gt-lg {
    width: 58.33333%;
  }
  .grid__item--8-cols--gt-lg {
    width: 66.66667%;
  }
  .grid__item--9-cols--gt-lg {
    width: 75%;
  }
  .grid__item--10-cols--gt-lg {
    width: 83.33333%;
  }
  .grid__item--11-cols--gt-lg {
    width: 91.66667%;
  }
  .grid__item--12-cols--gt-lg {
    width: 100%;
  }
}
@media (min-width: 1500px) {
  .grid--1-cols--gt-xl > .grid__item {
    width: 100%;
  }
  .grid--2-cols--gt-xl > .grid__item {
    width: 50%;
  }
  .grid--3-cols--gt-xl > .grid__item {
    width: 33.33333%;
  }
  .grid--4-cols--gt-xl > .grid__item {
    width: 25%;
  }
  .grid--5-cols--gt-xl > .grid__item {
    width: 20%;
  }
  .grid--6-cols--gt-xl > .grid__item {
    width: 16.66667%;
  }
  .grid--7-cols--gt-xl > .grid__item {
    width: 14.28571%;
  }
  .grid--8-cols--gt-xl > .grid__item {
    width: 12.5%;
  }
  .grid--9-cols--gt-xl > .grid__item {
    width: 11.11111%;
  }
  .grid--10-cols--gt-xl > .grid__item {
    width: 10%;
  }
  .grid--11-cols--gt-xl > .grid__item {
    width: 9.09091%;
  }
  .grid--12-cols--gt-xl > .grid__item {
    width: 8.33333%;
  }
  .grid__item--1-cols--gt-xl {
    width: 8.33333%;
  }
  .grid__item--2-cols--gt-xl {
    width: 16.66667%;
  }
  .grid__item--3-cols--gt-xl {
    width: 25%;
  }
  .grid__item--4-cols--gt-xl {
    width: 33.33333%;
  }
  .grid__item--5-cols--gt-xl {
    width: 41.66667%;
  }
  .grid__item--6-cols--gt-xl {
    width: 50%;
  }
  .grid__item--7-cols--gt-xl {
    width: 58.33333%;
  }
  .grid__item--8-cols--gt-xl {
    width: 66.66667%;
  }
  .grid__item--9-cols--gt-xl {
    width: 75%;
  }
  .grid__item--10-cols--gt-xl {
    width: 83.33333%;
  }
  .grid__item--11-cols--gt-xl {
    width: 91.66667%;
  }
  .grid__item--12-cols--gt-xl {
    width: 100%;
  }
}
.grid--padded {
  margin-bottom: -20px;
  margin-left: -10px;
  margin-right: -10px;
}
.grid--padded .grid__item {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.grid--reversed {
  flex-direction: row-reverse;
}
.grid--align-center {
  justify-content: center;
}
.grid--align-right {
  justify-content: flex-end;
}
.grid--align-space-around {
  justify-content: space-around;
}
.grid--align-space-between {
  justify-content: space-between;
}
.grid--valign-middle > .grid__item {
  align-self: center;
}
.grid--valign-bottom > .grid__item {
  align-self: flex-end;
}
.grid__item--valign-middle {
  align-self: center;
}
.grid__item--valign-bottom {
  align-self: flex-end;
}
